html, body {
    margin: 0 0px;
    overflow-x: hidden;
    scroll-behavior: smooth;
}


.heading-text {
    background-color: whitesmoke;
    width: 15vw;
    height: 10vh;
    text-align: center;
    margin: 200px auto;

}

#bar {
    display: flex;
    width: 50%;
    margin: 0 auto;
    background-color: rgb(25, 25, 25);
    height: 45px;
    justify-content: center;
}

.dropdown {
   display: flex;
   position: relative;
   margin-left: 5vw;
}

.dropdown a {
    text-decoration: none;
    margin-top: 1vw;
    color:blanchedalmond;
    font-size: 24px;
}


.dropdown-content {
    display: none;
    color:black;
    top:100%;
    position: absolute;
    height: 30vh;
    border: 1px black solid;
    z-index: 1;
    padding: 20px;
    background-color: thistle;
}

.dropdown-content a {
    margin: 0px;
    padding: 0;
}


.dropdown:hover .dropdown-content {
    display: grid;
    
}
.dropdown-links {
    display: flex;
    background-color: rgba(0,0,0,.5);
    width: 100%;
}


.dropdown h1 {
    display: inline;

}

.menu {
    height: 80vh;
    width: 100%;
    display: grid;
}


.carousel {
    left: 0;
    top: 0;
    overflow: hidden;
    width: 100%;
    height: 100vh;
    margin-left: auto;
    margin-right: auto;
    display: none;
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-timing-function: ease-in;
    animation-duration: 1.5s;
    position: relative;
    z-index: -1;
    background-color: rgb(25, 25, 25);
}

 
@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }


#container {
    position: relative;
    width: 100%;
}

.container-text {
    position:absolute;
    z-index: 1;
}

#current {
    display:block;
}

#title {
    text-align: center;
    margin-left: 25vw;
    color: blanchedalmond;
    margin-top: 1vw;
    

}

#menu {

    background-color: transparent;
    color: rgb(25, 25, 25);
}

.menu-container {
    height: 80vh;
    width: 100%;
}


#back {
    margin-left: 10px;
    border-top-right-radius: 10%;
    border-bottom-right-radius: 10%;
  
}

#forward {
    border-top-left-radius: 10%;
    border-bottom-left-radius: 10%;
    margin-right: 4%;
}

.title-card {
    border: whitesmoke 1px solid;
    top: 40%;
    margin-left: 46vw;
    text-align: center;
    padding: 10px;
    color: blanchedalmond;
    background-color: rgba(0,0,0,.5);
    width: 10vw;

}

.arrow {
    display: flex;
    justify-content: space-between;
}

.material-icons-outlined {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 60px;  /* Preferred icon size */
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
  
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
  
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
  
    /* Support for IE. */
    font-feature-settings: 'liga';
    margin: 0px;
    z-index: 1;
    top: 50%;
    color: white;
    padding: 10px;
  }

  .dropdown-arrow {
    font-size: 24px;
    color: blanchedalmond;
    margin-top: 12px;
}

.menu-display {
    display: grid;
    grid-template-columns: auto auto;
    width: 80%;
    height: fit-content;
    margin: 0 auto;
    overflow: hidden;
}

.menu-element {
    width: 100%;
    height: 40vh;
    border: 1px solid black;
    text-align: center;
    background-color: royalblue;
    position: relative;

}

.menu-image {
    position: absolute;
    z-index: 1;
    top: 0; 
    left: 0;
    overflow: hidden;
    width: 100%;
    height: 40vh;
}


.gallery {
    background-color: aqua;
    display: grid;
    justify-content: center;
}


.d {
    display: flex;
    width: fit-content;
    height: fit-content;
    justify-content: space-around;
    position: relative;
    background-color: transparent;
    z-index: 2;
    top: 90%;
}

.dots {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: darkslategrey;
    margin:15px;
}


#active {
    background-color: lightgrey;
}


   .up-arrow {
       position: fixed;
       display: grid;
       left: 90%;
       top: 70%;
       background-color: rgba(0,0,0,.5);
       border-radius: 50%;

   }

   .up-arrow a {
       text-decoration: none;
   }

.blurb1 {
    width: 100vw;
    height: 20vh;
    text-align: center;
    padding: 20px;

}

.blurb1a {
    width: 40vw;
    margin: 0 auto;
}

.container2{
    width: 100%;
    position: relative;
}


.container2-text {
    position: absolute; 
    border: white 1px solid;   
    display: grid;
    justify-content: center;
    top: 50%;
    left: 41%;
    text-align: center;
    
}

.container2 button {
    position: relative;
    display: grid;
    justify-content: center;
    text-decoration: none;
    border: none;
    background-color: transparent;
    margin: 0 auto;
}

.container2-bg {
    width: 100%;
    height: 75vh;
    left: 0;
    top: 0;
    overflow: hidden;
    position: relative;
    z-index: -3;
}

.contact-us {
    display: grid;
}

footer {
    height: 5vh;
    display: flex;
    width: 100%;
    
}

footer h3 {
    text-align: center;
    margin: 0 auto;
}

